.Houses_Cart {
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
  grid-auto-flow: row;
  gap: 20px;
  .Houses_Cart_Wrapper {
    width: 100%;
    border-radius: 3px;
    background: $colorWhite;
    border-radius: 3px;
    border: 1px solid #e6e9ec;
    box-shadow: 0px 0px 5px 5px rgba(138, 134, 134, 0.2);
  }
  .Houses_img {
    width: 100%;
    height: 100%;
    max-height: 220px;
    min-height: 200px;
    img {
      width: 100%;
      max-height: 100%;
    }
  }
}
.Houses_wrapper {
  padding: 24px 20px;
  .Houses_title {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
.Detials {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  margin-bottom: 16px;
}
.Detials_Itme {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.divider {
  width: 100%;
  background: #e6e9ec;
  height: 1px;
  margin-bottom: 8px;
}
.Houses_footer {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .Houses_footer_img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .love {
      width: 27px;
      height: 27px;
      padding: 6px;
      background: #cfd0d1;
      border-radius: 50%;
    }
    img {
      width: 15px !important;
      height: 15px !important;
      cursor: pointer;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
