
.Why {
  width: 100%;
  display: flex;
  margin: 48px 0 96px 0;
  flex-direction: column;
  align-items: center;
  background-color: #f5f7fc;
  height: 434px;
  .Why_title {
    padding: 48px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }
  .why_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 81px;
  }
  .Why_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    .Choose_title {
      text-align: center;
      h3 {
        color: $colorPirmary;
        text-align: center;
        /* Paragraph/Large/Semibold */
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 155.556% */
        padding-bottom: 8px;
      }
      p {
        color:$colorSecoundary;
        text-align: center;
        /* Paragraph/Medium/Regular */
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
  }
}
@media (max-width: 600px) {
  .Why{
    background: transparent;
    width: 93%;
    height: 60%;
   
  }
  .Why_title{
    padding:0 ;
  }
  .why_container{
    width: 100% ;
    padding:  65px ;
    flex-direction: column;
    
  }
 }
 @media (max-width: 480px) {
  .Why{
    background: transparent;
    width: 91%;
   
  }
  .Why_title {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0px 10px !important;
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 13px;
      padding-bottom: 120px;
    }
  }
 }
@media (max-width: 375px) {
 
 }