.Properties {
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
  grid-auto-flow: row;
  gap: 20px;

}
.Properties_wrapper{
  width: 100%;

  .Properties_title{
    padding: 70px 0;
    text-align: center;
  }
}

@media (max-width: 600px) {

  .Properties{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
  }
}