@import "variables";
@import "../components/Navbar/style.scss";
@import "../components/Home/style.scss";
@import "../components/Filter/style.scss";
@import "../components/Carousel/style.scss";
@import "../components/houses-cart/style.scss";
@import "../components/Properties/style.scss";
@import "../components/Category_cart/style.scss";
@import "../components/Category/style.scss";
@import "../components/Recommended/style.scss";
@import "../components/why/style.scss";
@import "../components/Banner/style.scss";
// @import "../components/Testimonials/style.scss";

.Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Wrapper {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
}
.subChild {
  color: $colorWhite;
  text-align: center;
  /* Heading/H4/Semibold/Desktop */
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.56px;
}
.title {
  color: $colorPirmary;
  text-align: center;
  /* Heading/H4/Semibold/Desktop */
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.56px;
}
.sub_Title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: $colorPirmary;
}
.info {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: $colorSecoundary;
}

.inline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blur {
  position: absolute;
  z-index: 989;
  height: 99.4%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
