.Recommended_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding-top: 96px;
}
.Recommended {
  width: 100%;
  .Swper {
    width: 100%;
    max-width: 1400px;
    padding: 32px 120px;
    padding-bottom: 52px;
    margin: auto;
  }
  .Category_flex {
    width: 100%;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 30px !important;
    background: #e6e9ec !important;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px #c7c5c5;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    display: flex;
    background-color: #e6e9ec;
    box-shadow: 0 0 10px 3px #c7c5c5;

    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    left: 30px !important;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px !important;
    font-weight: 800;
    color: black;
  }
}
.Recommended_media {
  display: none;
}
@media (max-width: 600px) {
  .Recommended_media {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

  }
  .gap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .Swper {
    display: none !important;
  }
}
@media (max-width: 480px) {
  .gap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .Recommended_title {
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 13px;
      padding-bottom: 120px;
    }
  }
}
@media (max-width: 375px) {
  .Recommended_title {
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 10px !important;
      padding-bottom: 60px;
    }
  }
  .Recommended_media {
    width: 95%;
    margin: auto;
    .gap {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
